<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Covid19</title>
</head>
<body>
  <h1><b>This is a web service to manipulate the data of covid19</b></h1>
  <h2>The methods that can be called are the followings:</h2>
  <ul>
  	 <li><a href="/api/summary/France">/api/summary/{name}</a>  to get the covid-19 summary data of a country where {name} is a path variable for the country name</li>
   	 <li>/api/createSummary to create an entry for a country data</li>
   	 <li>/api/updateSummary to update a country value(s) </li>
     <li>/api/deleteSummary/{name} to delete a country havaing given {name}</li>
  </ul>
</body>
</html>